<%- include("partials/header.ejs") -%>

<h1>Home</h1>

<p><%= homeData %></p>

<% postsData.forEach(function(post) { %>
    <h2><%= post.title %></h2>
    <p><%= post.body %></p>
<% }) %>

<%- include("partials/footer.ejs") -%>